.login {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  &__content,
  &__img {
    width: 50%;
  }
}

.content {
  &__title {
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.img__devices {
  width: 406px;
}

@media (max-width: 990px) {
  .img__devices {
    display: none;
  }
}
