.tasks {
    padding: 20px;
    margin: 0 auto;
    width: 95%;
    max-width: 50rem;

    &__header {
        font-size: 20px;
        padding-bottom: 20px;
        color: var(--font-header-clr);
    }
}
