.taskElem {
  border-bottom: 1px solid #f5f5f5;
  padding: 20px;
  transition: 0.3s all;
  display: flex;
  align-items: center;

  &:hover {
    background-color: #eee;
    border-radius: 5px;
  }

  p {
    font-size: 14px;
    padding: 0 0 0 10px;
    margin-right: auto;
  }

  .button {
    background: none;
    border: none;

    &:hover {
      opacity: 0.8;
      cursor: pointer;

    }
  }
}

input:checked + p {
  text-decoration: line-through;
}