.add-sidebar-elem-form {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 0.2rem;

  & input {
    border: 1px solid var(--task-border-clr);
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    flex-basis: 100%;

    &:focus {
      outline: none;
      border-color: var(----dark-gray-700);
    }
  }

  & button {
    all: unset;
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  & svg {
    width: 80%;
    height: 80%;
    color: var(--primary-400);
  }
}
