@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
       url('../fonts/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
