.add__task {
    display: flex;
    padding: 20px;
    cursor: pointer;

    img {
        padding: 0 10px 0 0;
    }

    .add__text {
        font-size: 14px;
    }
}

.add__task:hover ~ .add__text {
    color: #db4c3f;
}