.button {
    padding: 9px 14px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    opacity: 0.7;
}

.button--primary {
    color: rgb(0, 0, 0);
    background-color: transparent;
}

.button--secondary {
    color: rgb(255, 255, 255);
    background-color: rgb(219, 76, 63);
}